/* Add your css code here */
/*
.w3-theme-l5 {color:#000 !important; background-color:#fefbf4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fdf3dc !important}
.w3-theme-l3 {color:#000 !important; background-color:#fae7b8 !important}
.w3-theme-l2 {color:#000 !important; background-color:#f8da95 !important}
.w3-theme-l1 {color:#000 !important; background-color:#f6ce71 !important}
.w3-theme-d1 {color:#000 !important; background-color:#f2b72f !important}
.w3-theme-d2 {color:#000 !important; background-color:#f0ad11 !important}
.w3-theme-d3 {color:#fff !important; background-color:#d3980d !important}
.w3-theme-d4 {color:#fff !important; background-color:#b5820c !important}bloc
.w3-theme-d5 {color:#fff !important; background-color:#976d0a !important}

.w3-theme-light {color:#000 !important; background-color:#fefbf4 !important}
.w3-theme-dark {color:#fff !important; background-color:#976d0a !important}
.w3-theme-action {color:#fff !important; background-color:#976d0a !important}

.w3-theme {color:#000 !important; background-color:#f4c24e !important}
.w3-text-theme {color:#f4c24e !important}
.w3-border-theme {border-color:#f4c24e !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#f4c24e !important}
.w3-hover-text-theme:hover {color:#f4c24e !important}
.w3-hover-border-theme:hover {border-color:#f4c24e !important}
*/
h2.w3-block-title {
  font-weight: 400;
  font-size: 20px;
  padding: 4px 8px !important;
  margin: 5px 0;
}
/* Set the page with to 80 percent
.w3-width-95-percent {
  max-width: 95%!important;
}*/
/* Override the font of the body text */
body {
  font-family:Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

/* Override the headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #47498C !important;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 5px 0 !important;
}

.aen a:link {
        color: indigo
}
.aen a:visited {
        color: indigo
}
.aen a:hover {
        color: blue
}
